// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-size-base: 1.0rem;
$line-height-base: 1.6;
$font-size-lg: 1.4rem;
$sizes: (
        2: 2%,
        5: 5%,
        10: 10%,
        15: 15%,
        20: 20%
);

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
